# Ignore Installers & cudnn_samples
gpu_setup/installers/*
gpu_setup/cudnn_samples/*

# Ignore _pycache_ directories
**/__pycache__/*

# Ignore python virtual environment
# assign/avathon/myenv/*
**/myenv/*

# Ignore .csv files
*.csv

# Ignore data in learn directory
learn/data/