# Ignore Installers & cudnn_samples
gpu_setup/installers/*
gpu_setup/cudnn_samples/*

# Ignore _pycache_ directories
**/__pycache__/*

# Ignore python virtual environment
# assign/avathon/myenv/*
**/myenv/*

# Ignore .env file
.env

# Ignore .csv files
*.csv

# other files
.DS_Store

# Ignore data in learn directory
learn/data/
learn/cs231n/assignment1/cs231n/datasets/cifar-10-batches-py/
learn/cs231n/assignment1/cs231n/datasets/imagenet_val_25.npz